<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<div align="center">
<body>
<h1>Full users list</h1>

<table border="2px">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>LastName</th>
        <th>Email</th>
        <th>Age</th>
        <th>Role</th>
        <th>Action</th>

    </tr>
    <tr th:each="user : ${listOfUsers}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getLastName()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td><span th:each="role : ${user.roles}" th:text="${role.name}+' '"></span></td>


        <td >
            <form method="GET" th:action="@{/admin/{id}/update(id=${user.getId()})}">
                <input type="submit" value="Update"/>
            </form>
            <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
</table>

<br>
<b><input type="button" value="Add User"
       onclick="window.location.href = 'new'"/> <b>
<br>
    <b><input type="button" value="My Profile"
       onclick="window.location.href = '/user'"/><b>
        <b><input type="button" value="Logout"
       onclick="window.location.href = '/logout'"/><b>

</body>
</div>
</html>